@import '../assets/globals';

.fieldLabel {
    color: $font-colour-mid;
    display: block;
    margin-bottom: 8px;
}

.fieldInput {
    display: block;
    border: 1px solid $border-colour-light;
    border-radius: 8px;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;

    &:hover,
    &:focus {
        background-color: $input-hover-colour;
        transition: all 0.2s ease-in-out;
    }
}

input[type="email"]
{
    @include fontSize(20px);
    font-family: $font-fam;
    color: $font-colour-mid;
    padding: 0 20px;
}

.checkField {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    
    .fieldLabel {
        display: block;
        cursor: pointer;
        clear: both;
        margin-left: 40px;
        line-height: 28px;
    }

    .fieldLabel:hover {
        .customCheck {
            background-color: $input-checkbox-hover;
        }
    }

    input {
        position: absolute;
        opacity: 0;
    }

    .customCheck {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 24px;
        width: 24px;
        background-color: transparent;
        border-radius: 5px;
        transition: all 0.3s ease-out;
        border: 2px solid $border-colour-light;
    }

    input:checked ~ .customCheck {
        background-color: $input-checkbox-colour;
        border-radius: 5px;
        transform: rotate(0deg) scale(1);
        opacity:1;
        border: 2px solid $input-checkbox-colour;
    }

    .customCheck::after {
        position: absolute;
        content: "";
        left: 12px;
        top: 12px;
        height: 0px;
        width: 0px;
        border-radius: 5px;
        border: solid $input-checkbox-border;
        border-width: 0 3px 3px 0;
        transform: rotate(0deg) scale(0);
        opacity:1;
        transition: all 0.3s ease-out;
    }
    
    
    input:checked ~ .customCheck::after {
      transform: rotate(45deg) scale(1);
      opacity:1;
      left: 8px;
      top: 3px;
      width: 6px;
      height: 12px;
      border: solid white;
      border-width: 0 2px 2px 0;
      background-color: transparent;
      border-radius: 0;
    }

    input:focus + .customCheck {
        background-color: $input-checkbox-hover;
        border-color: $input-checkbox-border;
    }
}