@import '../assets/globals';

.loginForm {
    margin-top: 75px;
}

.formSubmit {
    margin-top: 40px;
    background-color: $brand-green;
    border: 1px solid $brand-green;
    border-radius: 10px;
    color: $font-colour-white;
    padding: 16px 40px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.formSubmit[disabled] {
    cursor: not-allowed;
    color: $font-colour-dark;
    background-color: $disabled-input-background-colour;
    border: 1px solid $border-colour-light;
}