@import '../assets/globals';

$login-background: #fff;

.loginPod {
    width: 100%;
    padding: 20px;
    background-color: $login-background;
    box-sizing: border-box;

    @include screen-size('medium') {
        position: absolute;
        margin: 0 auto;
        width: 540px;
        border: 2px solid $border-colour-light;
        box-shadow: 0 2px 4px 2px $border-colour-light;
        box-sizing: unset;
        padding: 50px 70px;
        top: 50vh;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.brandLogo {
     img {
        width: 100px;

        @include screen-size('medium') {
            width: 160px;
        }
    }
}

.brandLogo + h1 {
    margin-top: 18px;

    @include screen-size('medium') {
        margin-top: 40px;
    }
}