// Set globals
$font-fam: Gotham, Arial, Sans-Serif;
$body-background: #fafafa;
$body-background-small: #ffffff;
$brand-green: #30af5f;
$font-colour-dark: #4c494b;
$font-colour-mid: #736e72;
$font-colour-light: #b2afb1;
$font-colour-white: #ffffff;
$border-colour-light: #e4e1e3;
$input-checkbox-border: #009BFF;
$input-checkbox-colour: #2D8BFF;
$input-checkbox-hover: #e3f0ff;
$input-hover-colour: #f0f8f3;
$disabled-input-background-colour: #ffffff;

// Screen sizes
$breakpoints: (
  'medium': 720px,
  'large':  1200px
) !default;

// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 16px;
    //Default font size on html element is 100%, equivalent to 16px;
    @return #{$remSize}rem;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

// Mixin to include media queries
@mixin screen-size($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
      // Prints a media query based on the value
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
   
    // If the key doesn't exist in the map
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
  }

  @font-face {
    font-family: 'Gotham';
    src: url('./GothamBook.eot');
    src: url('./GothamBook.eot?#iefix') format('embedded-opentype'),
        url('./GothamBook.woff2') format('woff2'),
        url('./GothamBook.woff') format('woff'),
        url('./GothamBook.svg#GothamBook') format('svg');
    font-weight: normal;
    font-style: normal;
}