@import './assets/globals';

body {
    font-family: $font-fam;
    color: $font-colour-dark;
    margin: 0;
    background-color: $body-background-small;

    @include screen-size('medium') {
        background-color: $body-background;
    }
    
}

h1 {
    @include fontSize(30px);
    font-family: $font-fam;
    text-align: center;

    @include screen-size('medium') {
        @include fontSize(40px);
        text-align: left;
    }
}

h1.withSub {
    margin-bottom: 10px;
}

h2 {
    @include fontSize(18px);
    font-family: $font-fam;
    color: $font-colour-light;
    text-align: center;

    @include screen-size('medium') {
        @include fontSize(20px);
        text-align: left;
    }
}

h2.subtitle {
    margin-top: 0;
}

p, label, input[type="submit"] {
    @include fontSize(14px);
    font-family: $font-fam;

    @include screen-size('medium') {
        @include fontSize(18px);
    }
}